nav {
  padding: 4px 0;
  position: fixed;
  z-index: 10;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: white;
}
.logo {
  width: 180px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 20px;
}
.container {
  padding: 0% 10%;
}
.btn {
  background-color: #fff;
  color: #212121;
  padding: 14px 15px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  outline: none;
}
.dark-nav {
  background-color: rgba(48, 48, 175, 0.736);
  transition: 0.5;
}
.menu-icon {
  display: none;
}
@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 14px 12px;
  }
}
@media (max-width: 1000px) {
  .logo {
    width: 140px;
  }
  nav ul li {
    margin: 0px 15px;
  }
}
@media (max-width: 870px) {
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    bottom: 0;
    background-color: rgba(48, 48, 175, 0.736);
    padding-top: 75px;
    transition: 0.5s;
    z-index: -1;
    flex-direction: column;
  }
  nav ul li {
    margin: 25px 20px;
    display: block;
  }
  .btn {
    margin-left: 10px;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-menu {
    right: -200px;
  }
}
